@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.scroll-x {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.title {
  @apply mb-7 mt-2 w-fit -rotate-6 cursor-default border-b-4 border-green-400 text-4xl font-bold hover:-rotate-12 hover:transition-all hover:duration-300 sm:ml-8 lg:mb-0;
}
